body{
	background-color: #c6c6c6;
	margin: 0;
	padding: 0;
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-img {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 361px;
	border-bottom: 2px solid #43a5e6;
	align-content:stretch;
}

#unc {
	position: relative;
	top: 54px;
}

.row {
	position: relative;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#profile-pic {
	border-style: solid;
	border-size: 5px;
	border-color: silver;
	border-radius: 15px;
	padding:3px;
	width: 340px;
	height: 400px;
	margin: auto;
}

.img-div {
	width: 344px;
	height: 460px;
	background-color: #ffffff;
	border-radius: 15px;
	border: 2px solid #43a5e6;
	border-radius: 15px;
	background-color: #ffffff;
	display: block;
	align-items: center;
	justify-content: space-around;
}

.img-div:hover {
	box-shadow: 10px 10px 5px #888888;
}

.short-bio {
	background-color: #ffffff;
	border-style: solid;
	border-size: 2px ;
	border-color: #43a5e6;
	border-radius: 15px;
	padding-top: 20px;
	position: relative;
	display: inline;
	width:55%;
	height: 460px;
	max-height: auto;
}
.short-bio:hover {
	box-shadow: 10px 10px 5px #888888;
}
#short-bio-head{
	position:relative;
	left: 30%;
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
}
#short-bio-foot{
	position: relative;
	left: 35%;
	font-weight: bold;
	font-size: 20px;
}

p {
	padding: 30px;
	margin: auto;
}

.row | a {
	font-weight: bold;
	font-size: 20px;
	color: black;
	font-style: normal;
}

#name {
	font-size: 20px;
	font-weight: bold;
	position: relative;
	left: 13.7%;
	top: -2px;
}

#email {
	display: block;
	font-size: 18px;
	position: relative;
	left: 13.7%;
	top: -4px;
}

#gmail {
	display: inline;
	font-style: normal;
	font-weight: normal;
}
