.active {
	font-weight: bold;
}

.navbar-brand {
	color: #2881d7;
	font-style:normal;
	font-size: 22px;
	padding:0px;
	margin: 3px;
	margin-right: 7px;
	position: relative;
	top: -1px;
}

.navbar {
	background:#ffffff;
	border-bottom: 2px solid #43a5e6;
	opacity: .8
}

.form-control {
	border: 1.5px solid #43a5e6;
}

.btn {
	border: 1.5px solid #00b332;
	background-color: #ffffff;
}
