.pg-bar {
	margin: 20px;
	margin-left: 50px;
	border-radius: 30px;
	position: relative;
	left: 80px;
	box-shadow: 5px 5px 2.5px #888888;
	height: 30px;
	width: 75%;

}

.proficiency {
	position: relative;
	top: 40px;
	right: 0px;
	margin: 20px;
	border: 2px solid #43a5e6;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 10px 10px 5px #888888;
	overflow:auto;
	min-width: 600px;
	min-height: 400px;
}

.bars {
	position: absolute;
	right: 0px;
}

.about {
	margin: 30px;
}

.article {
	position: relative;
	margin: 30px;
	top: 60px;
}

span {
	display: inline;
}

.bar-title {
	font-size: 22px;
	position: relative;
	top: 50px;
	left: 40px;

}
